.Snake {
    padding-left: 200px;
    padding-top: 25px;
    color: black;
    font-size: large;

    background-image: linear-gradient(#14DAE0, #0AF7BC);

}

.Unity {
    padding-top: 25px;
    background-image: linear-gradient(#0AF7BC, #09ED74);
}


.hyperlink {
    color: #096CED;
}


.header p {
    font-size: medium;
    font-weight: normal;
}