.header {
    padding: 250px;
    text-align: center;
    background: #a1e5ab;
    color: #606974;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}