.topnav {
    background: #0AB0F7;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #096CED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
}

topnav a.active {
    background-color: #096CED;
    color: #0AB0F7;
}

topnav a:hover {
    background: #096CED;
    color: #0AB0F7;
}