.topnav {
    background: #a1e5ab;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #606974;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

.active {
    background: #a1e5ab;
    color: #606974;
}

topnav a:hover {
    background: #096CED;
    color: #0AB0F7;
}